<!-- chat.component.html -->
<div class="chat-container">
  
    <!-- Cabeçalho -->
    <div class="chat-header">
      <img src="assets/imgs/profile.jpg" class="avatar" />
      <span class="chat-name">Viviane</span>
      <div class="chat-actions">
        <i class="pi pi-video"></i>
        <i class="pi pi-search"></i>
        <i class="pi pi-ellipsis-v"></i>
      </div>
    </div>
  
    <!-- Corpo do chat -->
    <div class="chat-body">
      <div class="back"></div>

      <div class="date-separator">Yesterday</div>
  
      <div class="message received">
        <div class="bubble">
          Oi
          <span class="time">9:24 PM</span>
        </div>
      </div>
  
      <div class="message sent">
        <div class="bubble">
          Oi
          <span class="time">9:25 AM</span>
        </div>
      </div>
  
    </div>
  
    <!-- Input de mensagem -->
    <div class="chat-input">
      <i class="pi pi-plus"></i>
      <input type="text" placeholder="Type a message" />
      <i class="pi pi-microphone"></i>
    </div>
  </div>
  