<div class="sidebar">
  <div class="top-section">
    <a class="icon-wrapper" pTooltip="Caixa de entrada" routerLink="/inbox"   routerLinkActive="active"    >
      <i class="pi pi-comments"></i>
    </a>
    <a class="icon-wrapper active" pTooltip="Chat" [routerLink]="['/chat']"   routerLinkActive="active"  >
      <i class="pi pi-comment"></i>
      <span class="badge">19</span>
    </a>
    <a class="icon-wrapper" pTooltip="Chamados" routerLink="/tickets"   routerLinkActive="active" ><i class="pi pi-ticket"></i></a>
    <a class="icon-wrapper" pTooltip="Robôs" routerLink="/robos"   routerLinkActive="active"><i class="pi pi-bolt"></i></a>
  
    <a class="icon-wrapper" pTooltip="Contatos" routerLink="/contacts"   routerLinkActive="active">
      <i class="pi pi-users"></i>
    </a>
    <a class="icon-wrapper" pTooltip="Relatórios" routerLink="/dashboard"   routerLinkActive="active"><i class="pi pi-chart-line" ></i></a>
    <a class="icon-wrapper" pTooltip="Agenda" routerLink="/agenda"   routerLinkActive="active"><i class="pi pi-calendar-times" ></i></a>
    <hr />
    <a class="icon-wrapper" pTooltip="IA" routerLink="/ia"   routerLinkActive="active">
      <i class="pi pi-circle-on spinner-icon"></i>
    </a>
  </div>

  <div class="bottom-section">
    <a class="icon-wrapper" pTooltip="Configurações" routerLink="/settings"   routerLinkActive="active"><i class="pi pi-cog"></i></a>
    <a class="profile-pic" pTooltip="Perfil" routerLink="/profile"   routerLinkActive="active">
      <img src="assets/imgs/profile.jpg" alt="User" />
    </a>
  </div>
</div>
