<div class="login-wrapper">
    <p-card class="login-card">
        <div class="content">
            <div class="text-center">
                <img src="assets/imgs/logo.png" alt="syncticket" width="50" />
                <h2>Login to SyncTicket</h2>
                <a class="new-account">create a new account</a>
              </div>
          
              <p-button label="Login with Google" icon="pi pi-google" class="google-btn w-full mb-3" styleClass="p-button-secondary"></p-button>
          
              <div class="divider"><span>OR</span></div>
          
              <form>
                <div class="p-field mb-3">
                  <label for="email">Email</label>
                  <input id="email" pInputText type="email" class="w-full" />
                </div>
          
                <div class="p-field mb-2">
                  <label for="password">Password</label>
                  <input id="password" pInputText type="password" class="w-full" />
                  <div class="text-right mt-1">
                    <a class="forgot-password">Forgot your password?</a>
                  </div>
                </div>
          
                <p-button label="Login" class="w-full mt-3 login-btn"></p-button>
              </form>
        </div>
    </p-card>
  </div>
  